/* LOGIN CSS */
.login-email {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-email h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-group .btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: #000000;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --text2-color: #030303;
    --primary2-color: #b72025;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    /* min-height: 100vh; */
    background-color: var(--body-color);
    transition: var(--tran-05);
    /* upload csv down here */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

/* body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
} */

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 15px;
    font-weight: 600;
    color: var(--text2-color);
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    /* red */
    background-color: var(--primary2-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

/* .sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
} */

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary2-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

/* .mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
} */

/* .menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
} */

/* .toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
} */

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

/* body.dark .switch::before {
    left: 20px;
} */

/* .home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
} */
.home {
    position: relative;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    /* display: flex; */
    flex-direction: column;
    /* Change this felx-direction to column / row */
    justify-content: center;
    align-items: center;
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text2-color);
    padding: 12px 60px;
    text-align: center;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}


/* UPLOAD CSV CSS*/
.card {
    padding: 60px;
}

.container {
    max-width: 100%;
    /* adjust the width to 90% of the parent container */
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
    /* margin: 40px auto; */
    /* add some margin to the left and right */
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
    /* margin: 2%;
    padding-top: 1%; */
    margin-bottom: 1%;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.button-container {
    text-align: center;
    margin: 20px auto;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

#loadingIndicator {
    display: none;
    color: #007BFF;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

#anomalyButtonContainer {
    display: none;
    /* Tombol ini akan tampil setelah file diunggah */
}

/* INPUT FORM NO_PLG AND DEVICE */
.small-card {
    width: 50%;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
    /* margin: 10px 20px; */
    /* flex-basis: 40%;
    margin-right: 20%; */
    /* kalo padding nya diilangin jadi ga responsif */
}

.small-card .container {
    padding: 20px;
}

.small-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.small-card form {
    display: flex;
    flex-direction: column;
}

.small-card .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* margin-right: 20px; */
}

.small-card label {
    width: 150px;
    text-align: left;
    margin-right: 10px;
}

.small-card input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.small-card button[type="submit"],
.small-card button[type="button"] {
    background: #1683ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    margin-left: 160px;
}

.small-card button[type="submit"]:hover,
.small-card button[type="button"]:hover {
    background: #1377ff;
}




/* VISUALISASI Clustering */
.visualization-card {
    width: 800px;
    height: 500px;
    margin: 10px;
    /* max-height: fit-content; */
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    /* display: inline-block; */
    display: flex;
    /* margin-left: 20px; */
    /* flex-basis: 40%;
    margin-right: 20%; */
    /* overflow: hidden; */
}

.visualization-card.card-body {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.visualization-card .visualization-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


/* content container  */
.content-container {
    /* max-width: 800px; */
    margin: 40px auto;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* gap: 30px; */
}

.content-containerr {
    /* max-width: 800px; */
    /* margin: 40px auto; */
    margin-top: 40px;
    /* padding: 60px; */
    /* padding-top: 20px auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* gap: 30px; */
}

/* Visualisasi Maps  */
.map-card {
    width: 500px;
    height: 350px;
    /* max-height: fit-content; */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    /* margin-left: 20px; */
    /* flex-basis: 40%;
    margin-right: 20%; */
}

.map-card .map-body {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}


/* Additional styling for iframe */
.visualization-map-card iframe {
    width: 100%;
    height: 450px;
    /* Adjusted height to match iframe's specified height */
    border: 0;
    border-radius: 10px;
}

/* Output List Anomali */
/* Ouput Rekomendasi */